alembic
blinker
click
Flask
flask-cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
PyJWT
python-dotenv
SQLAlchemy
sqlalchemy-serializer
typing_extensions
Werkzeug